<!doctype html>
<html lang ="en">
  <head>
    
    <meta charset='utf-8'>
    <meta description="traditional post">
    <title>Hello world</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <link rel="stylesheet" href="./base.css">

    
  </head>
  <body>
    
  <article>
    <header>
      <h1>Hello world</h1>
    </header>
    <div class="markdown-body">
      <p>Observing an old tradition in web development...</p>
<pre><code>const greeting = 'Hello World';
console.log(greeting);
</code></pre>

    </div>
  </article>

  <script src="//cdnjs.cloudfare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>window.hljs.initHighlightingOnLoad();</script>

  </body>
</html>